DEBUG=True
SECRET_KEY=replace-this-with-a-very-secret-production-key
DATABASE_URL=postgres://user:password@localhost:5432/employment_db

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

AI_SERVICE_URL=http://localhost:8001/api/v1

# Email Configuration
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DEFAULT_FROM_EMAIL=noreply@skillmatch.com
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=akliletsega16@gmail.com
EMAIL_HOST_PASSWORD=ftglrbgbgavjuwd

